.choices_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  transition: all 0.5s linear;
  margin-top: 10px;
}

.choiceTypeInner {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  transition: all 0.2s linear;
  position: relative;
  padding: 1rem;
  gap: 2rem;
  border-radius: 10px;
  border: 1px solid #A4DCF7;
  background-color: #FFF;
  width: 100%;
  height: 100%;
}

.choiceType {
  width: 100%;
  min-height: 45px;
  flex-wrap: wrap;
  height: auto;
  display: flex;
  align-items: center;
  background: var(--Greyscale-Surface-White, #FFF);
  transition: all 0.1s linear;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  cursor: pointer;

  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  /* border: 1px solid black; */
}

.choiceType:not(.selectedChoiceType):hover .choiceTypeInner,
.choiceType:not(.selectedChoiceType):active .choiceTypeInner {
  background: var(--Secondary-Surface-Subtle, #F1F4FD);
  border-color: #F1F4FD;
}

.choiceType:not(.selectedChoiceType):hover,
.choiceType:not(.selectedChoiceType):active,
.choicesType:not(.selectedChoiceType):focus {
  padding-bottom: 10px;
  background: var(--Secondary-Text-Default, #0C1E64);
}

.choicesType>div:nth-child(2) {
  padding-right: 1rem;
}

.choicebox {
  display: flex;
  cursor: pointer;
  border: none !important;
  gap: 2rem;
  padding: 1rem;
  border-radius: 5px;
  font-weight: bold;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: none;
}

.circle {

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1.5px solid lightgray;
  min-width: 40px;
  aspect-ratio: 1/1;

}

.selectedChoiceType .circle {
  border: 1px solid #FFC421;
}


.selectedChoiceType {
  background: #FFC421;
  padding-bottom: 10px;
  /* border-color: #3F51B5; */
}

.selectedChoiceType .choiceTypeInner {
  border: 1px solid #FFC421;
  background: #FFF9E7;
}

.green {
  padding-bottom: 10px;
  background: var(--Primary-Border-Default, #38C185);
  /* border-color: #80da1b; */
}

.red {
  padding-bottom: 10px;
  background: #FF0F0F;
  /* border-color: #ee4741; */
}
 .circle b{
  font-weight: bold;
 }
.selectedChoiceType .choice_text,
.selectedChoiceType .choice_text *,
.selectedChoiceType .circle b {
  color: #FFC421;
}

.red .choiceTypeInner {
  background: #FFEBEB;
  border-color: #FFEBEB;
}

.green .choiceTypeInner {
  background-color: #C0EDD9;
  border-color: #C0EDD9;
}

.green .circle {
  border: 1px solid green;
}

.green .circle b,
.green .choice_text,
.green .choice_text * {
  color: green;
}

.red .circle {
  border: 1px solid #ee4741;
}

.red .circle b,
.red .choice_text,
.red .choice_text * {
  color: #ee4741;
}

.choice_text {
  white-space: normal;
}

.notHoverClass {
  pointer-events: none !important;
  cursor: default !important;
}