img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.mq-replacable {
  cursor: pointer;
}

.mq-math-mode sup.mq-nthroot {
  padding-top: 0.8em;
}

#studentAnswerResponse.mq-root-block {
  overflow: auto;
}

.fraction {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.2em 0.4ex;
  text-align: center;
  font-size: 12px !important;
  left: -4px !important;
}

.fraction>span {
  display: block;
  padding-top: 0.15em;
}

.fraction span.fdn {
  border-top: thin solid black;
}

.fraction span.bar {
  display: none;
}

.ordinal {
  position: relative;
  top: -18px;
}

.bottom-no {
  margin-top: 28px;
  display: inline-block;
}

.top-no {
  position: relative;
  top: -32px;
}

.arith-add-operations .arith-add-row2 {
  border-bottom: 1px solid;
}

.arithmatic-operations .arith-add .arith-add-heads,
.arithmatic-operations .arith-add .arith-add-sub-heads {
  padding: 5px;
  border-bottom: 1px solid;
}

.MathJax .math span {
  font-family: "GothamRnd-Book" !important;
  font-size: 20px;
}

.font-bracket33 {
  font-size: 33px;
  font-family: MathJax_Size3;
}

.font-bracket25 {
  font-size: 25px;
  font-family: MathJax_Size3;
}

.font-bracket30 {
  font-size: 30px;
  font-family: MathJax_Size3;
}

.font-bracket28 {
  font-size: 28px;
  font-family: MathJax_Size3;
}

.font-bracket12 {
  font-size: 12px;
  font-family: MathJax_Size3;
}

.font-bracket21 {
  font-size: 21px;
  font-family: MathJax_Size3;
}

.font-bracket26 {
  font-size: 26px;
  font-family: MathJax_Size3;
}

.font-bracket23 {
  font-size: 21px;
  font-family: MathJax_Size3;
}

.font-bracket40 {
  font-size: 40px;
  font-family: MathJax_Size3;
}

.font-bracket15 {
  font-size: 15px;
  font-family: MathJax_Size3;
}

.font-bracket11 {
  font-size: 11px;
  font-family: MathJax_Size3;
}

.font-bracket10 {
  font-size: 10px;
  font-family: MathJax_Size3;
}

.font-bracket20 {
  font-size: 20px;
  font-family: MathJax_Size3;
}

.font-bracket6 {
  font-size: 6px;
  font-family: MathJax_Size3;
}

.font-bracket17 {
  font-size: 17px;
  font-family: MathJax_Size3;
}

/********** Ckeditor table with tr border *********/
tr.ck-top-border td {
  border-top: thin solid black;
}

tr.ck-bottom-border td {
  border-bottom: thin solid black;
}

.table-cellspacing {
  border-spacing: 0px;
}

.MathJax_Display {
  text-align: left !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
}

.faction .power-font {
  font-size: 15px;
}

.abs-cont {
  position: absolute;
  top: 6px;
  left: 12px;
  padding: 5px 12px 0px 10px;
}

.abs-cont:before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 9px;
  right: 10px;
  bottom: 2px;
  border-top: 1px solid;
}

.bracket-size-q {
  font-size: 30px;
}

.abs-cont-quos {
  position: absolute;
  top: -13px;
  left: 22px;
}

.rel-q {
  position: relative;
  display: inline-block;
  margin: 19px 47px 2px 10px;
  font-size: 20px;
}

.right-spac {
  float: right;
}

.font-bracket1 {
  font-size: 25px;
}

.std-size {
  font-family: "opensans";
  letter-spacing: 20px;
  padding-right: 20px;
  margin-left: 25px;
  position: relative;
}

.right-spac .num1 {
  display: inline-block;
  padding: 4px;
  position: relative;
  letter-spacing: 18px;
}

.num1 .carry {
  position: absolute;
  top: -5px;
  font-size: 11px;
  left: 8px;
}

.right-spac:nth-of-type(1) .num1 {
  padding-top: 15px;
}

.math-func {
  position: absolute;
  left: -23px;
  bottom: -3px;
  font-weight: bold;
  font-size: 25px;
}

.left {
  left: -37px;
}

.top-no {
  position: relative;
  top: -32px;
}

.top {
  position: relative;
  top: -15px;
}

.top1 {
  position: relative;
  top: -25px;
}

sup {
  font-size: 70%;
  padding-left: 3px;
  vertical-align: super;
}

.radical {
  position: relative;
  font-size: 37px;
  vertical-align: middle;
}

.radical1 {
  position: relative;
  font-size: 77px;
  vertical-align: middle;
}

.n-root {
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 33%;
}

.radicand {
  padding: 8px 2px 2px 0px;
  border-top: thin black solid;
}

.radicand1 {
  padding: 35px 2px 2px 0px;
  border-top: thin black solid;
}

.fraction-root {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.2em 0.4ex;
  text-align: center;
}

.fraction-root-one {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.2em 0.4ex;
  text-align: center;
}

.top-no {
  position: relative;
  top: -32px;
}

.faction .power-font {
  font-size: 15px;
}

.fraction.power-font {
  font-size: 15px;
  line-height: 16px;
}

.abs-cont:before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 9px;
  right: 10px;
  bottom: 2px;
  border-top: 1px solid;
}

.bracket-size-q {
  font-size: 30px;
}

.abs-cont {
  position: absolute;
  top: 6px;
  left: 12px;
  padding: 5px 12px 0px 10px;
}

.abs-cont-quos {
  position: absolute;
  top: -13px;
  left: 22px;
}

.rel-q {
  position: relative;
  display: inline-block;
  margin: 19px 47px 2px 10px;
  font-size: 20px;
}

.fraction-root-two {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.2em 0.4ex;
  text-align: center;
}

.fraction-root-three {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.2em 0.4ex;
  text-align: center;
}

/*Added for VIII_MAT802*/
.font-bracket {
  font-family: MathJax_Size4;
}

.top-no {
  position: relative;
  top: -32px;
}

.top {
  position: relative;
  top: -18px;
}

.top1 {
  position: relative;
  top: -25px;
}

.faction .power-font {
  font-size: 15px;
}

.radical {
  position: relative;
  font-size: 37px;
  vertical-align: middle;
}

.radicand {
  padding: 11px 2px 2px 0px;
  border-top: thin solid;
}

.radicand2 {
  padding: 15px 2px 2px 0px;
  border-top: thin black solid;
}

.font-bracket {
  font-family: MathJax_Size4;
}

sup {
  font-size: 70%;
  padding-left: 3px;
  vertical-align: super;
}

.fraction-root>span {
  display: block;
  font-size: 14px;
}

.fraction-root span.fdn {
  border-top: thin solid black;
}

.fraction-root span.bar {
  display: none;
}

.nth-radical {
  position: relative;
  font-size: 21px;
  vertical-align: middle;
}

.nth-root {
  position: absolute;
  top: 3px;
  left: 5px;
  font-size: 33%;
}

/*added for grade 10 math*/
.fraction1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.2em 0.4ex;
  text-align: center;
  font-size: 10px;
}

.fraction1>span {
  display: block;
  padding-top: 0.15em;
}

.fraction1 span.fdn {
  border-top: thin solid black;
}

.fraction1 span.bar {
  display: none;
}

.bottom-underlined {
  border-bottom: thin solid black;
}

.top-underlined {
  border-top: thin solid black;
}

.top-underlined-root {
  display: inline-block;
  border-top: 2px solid #4d4d4d;
}

.faction1 .power-font1 {
  font-size: 10px;
}

.nth-root {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 50%;
}

.nth-radical .nth-root,
.radical .n-root {
  line-height: 0px;
  font-size: 10px;
}

.nth-radical .nth-root {
  left: 3px;
}

.main-math-function,
.separation-math-function {
  position: relative;
  overflow: hidden;
  float: left;
}

.top-underlined-frac {
  border-top: thin solid black;
  padding-top: 10px;
}

.separation-math-function {
  font-size: 25px;
  letter-spacing: 3px;
  clear: both;
}

.rel-numbers {
  position: relative;
  float: left;
  padding-bottom: 20px;
}

.border-abs {
  position: absolute;
  width: 50%;
  height: 12px;
  border: 1px solid gray;
  left: 18%;
  border-top: none;
  bottom: 4px;
}

.top-underlined-root-number {
  display: inline-block;
  border-top: 2px solid #4d4d4d;
}

.inner-root-number-1 {
  margin-top: 5px;
}

.inner-root-number-2 {
  margin-top: 3px;
}

.root-border-number {
  font-size: 39px;
}

.root-border-number-1 {
  font-size: 34px;
}

.root-border-number-2 {
  font-size: 26px;
}

.root-border-number-double {
  font-size: 51px;
}

.nth-root-different {
  position: absolute;
  top: -10px;
  left: 4px;
  font-size: 45%;
}

.class9_fraction {
  display: inline;
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
}

.frac_float {
  float: left;
}

.frac_float .font-bracket {
  font-size: 15px;
}

.font-bracket {
  line-height: 65px;
}

.radicand1 {
  padding: 32px 2px 2px 0px;
  border-top: thin black solid;
}

.radicand1 {
  padding: 32px 2px 2px 0px;
  border-top: thin black solid;
}

span.radicand .fraction-root {
  line-height: 100%;
}

.top-underlined-root {
  display: inline-block;
  border-top: 2px solid #4d4d4d;
}

.inner-root1 {
  margin-top: 3px;
}

.inner-root2 {
  margin-top: 3px;
}

.root-border {
  font-size: 40px;
}

.root-border1 {
  font-size: 34px;
}

.root-border2 {
  font-size: 26px;
}

.top {
  position: relative;
  top: -15px;
}

.font-bracket1 {
  font-size: 25px;
}

.nth-radical {
  position: relative;
  padding-left: 6px;
  margin-left: 8px;
}

.nth-radical .nth-root-new {
  line-height: 8px;
  font-size: 13px;
  left: -5px;
  top: -4px;
}

.nth-radical .nth-root,
.radical .n-root,
.top .fraction {
  line-height: 0px;
  font-size: 10px;
}

.nth-radical .nth-root {
  left: -3px;
  top: -3px;
}

.practice-new-quiz sup {
  vertical-align: 15px !important;
  top: 7px;
}

sup .fraction,
sup .fraction-root,
.top .fraction {
  position: relative;
  left: -2px;
}

sup .fraction .fup,
sup .fraction .fdn,
sup .fraction-root .fup,
sup .fraction .bar,
sup .fraction-root .fup,
sup .fraction-root .bar,
sup .fraction-root .fdn,
.top .fraction .fup,
.top .fraction .bar,
.top .fraction .fdn {
  position: absolute;
  font-size: xx-small;
}

sup .fraction .fup,
sup .fraction-root .fup,
.top .fraction .fup {
  top: -2px;
}

sup .fraction .fdn,
sup .fraction-root .fdn,
.top .fraction .fdn {
  top: 2px;
  padding-top: 6px;
}

.nth-root-new {
  position: absolute;
  top: 0px;
  left: 1px;
  font-size: 35%;
}

.top-new {
  position: relative;
  top: -12px;
  font-size: 11px;
}

.top2 {
  position: relative;
  top: -20px;
  font-size: 11px;
}

.nth-root-new1 {
  position: absolute;
  top: 1px;
  left: -37px;
  font-size: 75% !important;
  white-space: nowrap;
  line-height: 0px;
}

.nth-root-new2 {
  position: absolute;
  top: -3px;
  left: -110px;
  font-size: 75% !important;
  line-height: 0px;
  white-space: nowrap;
}

.nth-root-new3 {
  position: absolute;
  top: 2px;
  left: 8px;
  font-size: 35%;
}

.top-underlined-root-new {
  margin-top: 3px;
  display: inline-block;
  border-top: 1px solid #4d4d4d;
}

#studentAnswerResponse .react-draggable {
  cursor: move !important;
}

#studentAnswerResponse img {
  display: initial;
}

.animationforquizchild {
  border: 1px solid black;
  display: block;
  width: 500px;
  height: 500px;
  left: 20%;
  top: 20%;
  position: absolute;
}

.sampleoneanimation {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.sampleoneanimation3 {
  width: 100%;
  position: absolute;
  z-index: 999;
}

.sampleoneanimationwelcome {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 900px;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  z-index: 999;
}

#ckeditorValueModified input[type="checkbox"] {
  width: 20px !important;
  height: 20px !important;
  margin-right: 8px !important;
}

#ckeditorValueModified input[type="radio"] {
  width: 20px !important;
  height: 20px !important;
  margin-right: 8px !important;
}

.ckEditorResetValue td,
.ckEditorResetValue img,
.ckEditorResetValue tr,
.ckEditorTableResetValue td,
.ckEditorTableResetValue img,
.ckEditorTableResetValue tr {
  font: inherit;
  vertical-align: inherit;
  max-width: fit-content;
  max-height: fit-content;
}

.ckEditorResetValue td,
.ckEditorResetValue table,
.ckEditorResetValue tr {
  border: 1px solid black;
}

.ckEditorResetValueNoBorder td,
.ckEditorResetValueNoBorder table,
.ckEditorResetValueNoBorder tr {
  border: none;
}

.ckEditorTableResetValue td,
.ckEditorTableResetValue table,
.ckEditorTableResetValue tr {
  border: 0;
  border-spacing: 2px;
}

td.ldivision_top {
  border-top: 1px solid black;
}

td.ldivision_bottom {
  border-bottom: 1px solid black;
}

td.ldivision_right {
  border-right: 1px solid black;
}

td.ldivision_left {
  border-left: 1px solid black;
}

.ckEditorResetValue p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.ckEditorResetValue table,
.ckEditorTableResetValue table,
.ckEditorResetValueNoBorder table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

.mathzoneMultipleChoiceFlexBox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 90%;
  margin-top: 1.5rem;
  cursor: pointer;
}

.mathzoneMultipleChoiceFlexBox>div {
  min-width: calc(50% - 0.5rem);
  max-width: 100%;
  flex: 1;
  display: flex;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  align-items: center;
  padding-left: 18px;
  color: #233584;
  border-radius: 12px;
  word-break: break;
  min-height: auto;
  height: 60px;
  gap: 2rem;
  border: 1px solid black;
  height: auto;
}

.mathzoneMultipleChoiceFlexBox>div>div:nth-child(2) {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  word-break: break;
}

.mathzoneMultipleChoiceFlexBox .choiceImage {
  padding: 0;
}

.mathzoneSelectedChoiceType {
  background-color: #b9c2fc;
}

.mathzonePrevSelectionAnswerSelection {
  background-color: white;
}

.mathzoneFlexDirectionColumn {
  flex-direction: column;
}

.mathzoneFlex {
  display: flex;
}

.mathzoneQuestionName {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #233584;
}

.mathzoneOprcGrid {
  display: Grid;
  max-width: 90%;
  box-sizing: border-box;
  margin: 2rem auto;
}

.mathzoneOprcGrid>div:nth-child(even) {
  box-sizing: border-box;
}

.mathzoneOprcGrid>div {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: auto;
}

.mathzoneOprcGrid>.mathzoneLastChild {
  min-height: 100px;
  height: auto;
  box-sizing: border-box;
}

.mathzoneOprcGridDivBox {
  display: flex;
  gap: 0.4rem;
  position: relative;
  flex-wrap: wrap;
  box-sizing: border-box;
  z-index: 4;
  height: auto;
}

.mathzoneOprcGridDivBox>div {
  margin: 0.51rem;
  border: 1px solid black;
  min-height: 30px;
  min-width: 30px;
  padding: 5px;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  word-break: break;
  justify-content: center;
  align-items: center;
}

.mathzoneOprcGridDivBox2 {
  width: calc(60% - 2rem);
  position: relative;
  height: auto;
  z-index: 5;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 2rem;
  min-height: 60px;
  height: auto;
  border: 1px solid black;
}

.mathzoneOprcGridDivBox2>div {
  min-width: 30px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mathzoneOprcGridDivBox2>div * {
  cursor: move;
}

.mathzoneOprcGridDivBox2 .react-draggable {
  transform: translate(0, 0);
  border: 1px solid black;
  padding: 5px;
}

.mathzoneOrcGrid {
  display: Grid;
  width: 80%;
  min-width: 100px;
  margin: 2rem;
  border: 1px solid black;
  height: auto;
}

.mathzoneOrcGrid>div:nth-child(even) {
  border: 1px solid black;
}

.mathzoneOrcGrid>div {
  border: 1px solid black;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  word-break: break;
}

.mathzoneOrcGrid>.mathzoneEvenChild {
  min-height: 100px;
  height: auto;
}

.mathzoneOrcGrid>.mathzoneOrcGrid {
  min-height: 100px;
  height: auto;
}

.mathzoneOrcGrid>div>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mathzoneOrcGrid>.mathzoneFlexbox {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.mathzoneOrcDivBox {
  display: flex;
  gap: 0.4rem;
  position: relative;
  flex-wrap: wrap;
  z-index: 4;
  height: auto;
}

.mathzoneOrcDivBox>div {
  margin: 0 0.21rem;
  border: 1px solid black;
  padding: 5px;
  min-height: 30px;
  min-width: 30px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mathzoneOrcDivBox2 {
  width: calc(100% - 2rem);
  position: relative;
  min-height: 80px;
  z-index: 5;
  display: flex;
  gap: 0.9rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 2rem;
  height: auto;
  border: 1px solid black;
  margin-bottom: 1rem;
}

.mathzoneOrcDivBox2>div {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
}

.mathzoneOrcDivBox2 .react-draggable {
  transform: translate(0, 0);
}

#mathzoneFibAfterText {
  width: calc(100% - 2rem);
  margin: auto;
  margin-top: 1rem;
  font-size: 16px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mathzoneMultipleChoicequestionName th,
.mathzoneMultipleChoicequestionName td {
  padding: 1rem;
  border: 1px solid black;
}

.mathzoneMainOlBox {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  width: 86%;
  flex-direction: column;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 5px;
}

.mathzoneMainOlBox>div {
  border-bottom: 1px solid black;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ckEditorResetValue img {
  object-fit: initial;
}

.ordinal {
  left: 0 !important;
}

.fraction {
  font-size: 20px !important;
}

.fraction .fdn,
.fraction .bar,
.fraction .fup {
  position: static !important;
  padding-top: 10px !important;
}

.fraction .fdn {
  padding-top: 14px !important;
}

.explainiationContainer .fraction .fdn {
  padding-top: 0 !important;
}

.fullscreensampleoneanimation {
  height: 100vh;
  position: fixed;
}

.lottieThing {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.sampleoneanimation4 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: "yellow";
  bottom: -12%;
  left: -30%;
}

.comparisonOfImages {
  display: flex;
  flex-direction: row;
  margin: 2rem 0.2rem;
  gap: 4rem;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .comparisonOfImages {
    display: flex;
    flex-direction: row;
    margin: 2rem 0.2rem;
    gap: 2rem;
    align-items: center;
  }
}

@media only screen and (max-width: 300px) {
  .comparisonOfImages {
    display: flex;
    flex-direction: row;
    margin: 2rem 0.2rem;
    gap: 1rem;
    align-items: center;
  }
}

#multipleChoiceStudentAnswerResponse>#studentAnswerResponse div {
  white-space: initial;
}

.mathzone-circle-selectbox {
  min-width: 40px;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  border: 1.5px solid lightgray;
}

.mathzone-color-indigo div,
.mathzone-color-indigo {
  color: #233584;
}

.tensframe-image-container img {
  height: fit-content;
  width: fit-content;
  object-fit: contain !important;
}

.tensframe-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#studentAnswerResponse div {
  white-space: pre;
}

#studentAnswerResponse .mathzoneMultipleChoiceFlexBox {
  white-space: pre-wrap;
}

#studentAnswerResponse.word-space_pre-wrap div {
  white-space: pre-wrap;
}

#studentAnswerResponse .word-space_pre-wrap div {
  white-space: pre-wrap;
}

#parentIdQuizEditorOnline #studentAnswerResponse div {
  white-space: initial;
}

.new_type_question_prev_wrap #studentAnswerResponse div {
  white-space: pre-wrap;
}

#studentAnswerResponse .fraction,
#studentAnswerResponse .fraction * {
  white-space: initial;
}


#studentAnswerResponse img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#multipleChoiceStudentAnswerResponse>#studentAnswerResponse div {
  white-space: initial;
}

.strikethrough {
  position: relative;
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}